body {
    margin: 0;
    padding: 0;
    background-color: #444444 !important;
}

/* Ensure Dash content fills the entire page */
#react-entry-point, .app-entry {
    height: 100vh;
}

/* Style the upload section to remove unwanted borders */
#upload-data {
    border-width: 0px !important;  /* Remove border */
    background-color: #444444 !important;
}

/* Ensure the text inside the upload area is styled properly */
#upload-data div {
    color: white !important;
    text-align: center;
}

/* Ensure the title section has no unwanted spacing */
#title-section {
    margin: 0;
    padding: 10px;
    background-color: #444444;
    text-align: center;
    color: white;
    font-size: 40px;
}